#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        Connect0: Connect0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to 0>;
            label = "CONNECT0";
            wait-ms = <10>;
        };

        Connect1: Connect1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to 1>;
            label = "CONNECT1";
            wait-ms = <10>;
        };

        Connect2: Connect2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &to 0>;
            label = "CONNECT2";
            wait-ms = <10>;
        };

        Connect3: Connect3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &to 1>;
            label = "CONNECT3";
            wait-ms = <10>;
        };

        Connect4: Connect4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &to 0>;
            label = "CONNECT4";
            wait-ms = <10>;
        };

        Atmark: Atmark {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp AT>;
            label = "ATMARK";
            wait-ms = <1>;
        };

        Tidle: Tidle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp TILDE>;
            label = "TIDLE";
            wait-ms = <1>;
        };

        YEN: YEN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp INT_YEN>;
            label = "YEN";
            wait-ms = <1>;
        };

        Ampersand: Ampersand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp AMPERSAND>;
            label = "AMPERSAND";
            wait-ms = <1>;
        };

        Slash: Slash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp SLASH>;
            label = "SLASH";
            wait-ms = <1>;
        };

        Asterisk: Asterisk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp ASTERISK>;
            label = "ASTERISK";
            wait-ms = <1>;
        };

        Minus: Minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp MINUS>;
            label = "MINUS";
            wait-ms = <1>;
        };

        Plus: Plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp PLUS>;
            label = "PLUS";
            wait-ms = <1>;
        };

        Hash: Hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp HASH>;
            label = "HASH";
            wait-ms = <1>;
        };

        Equal: Equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp EQUAL>;
            label = "EQUAL";
            wait-ms = <1>;
        };

        Percent: Percent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp PERCENT>;
            label = "PERCENT";
            wait-ms = <1>;
        };

        Doller: Doller {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp DOLLAR>;
            label = "DOLLER";
            wait-ms = <1>;
        };

        Caret: Caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp CARET>;
            label = "CARET";
            wait-ms = <1>;
        };

        Pipe: Pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp PIPE>;
            label = "PIPE";
            wait-ms = <1>;
        };

        ZenKakko: kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp ENTER &kp LEFT>;
            label = "KAKKO";
        };

        KagiKakko: KagiKakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp ENTER &kp LEFT_ARROW>;
            label = "KAGIKAKKO";
        };
    };

    combos {
        compatible = "zmk,combos";

        ZenKakko {
            bindings = <&ZenKakko>;
            key-positions = <3 4>;
            layers = <3 2>;
        };

        KagiKakko {
            bindings = <&KagiKakko>;
            key-positions = <16 17>;
            layers = <3 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MacMode {
            bindings = <
&kp ESCAPE        &kp Q         &kp W             &kp E      &lt 3 R  &kp T          &mo 4   &kp Y      &lt 3 U    &kp I           &kp O                 &kp P      &kp BACKSPACE
&kp TAB           &kp A         &kp S             &kp D      &lt 2 F  &kp G          &Minus  &kp H      &lt 2 J    &kp K           &kp L                 &kp MINUS  &kp ENTER
&kp LEFT_SHIFT    &kp Z         &kp X             &kp C      &kp V    &kp B          &Hash   &kp N      &kp M      &kp COMMA       &kp PERIOD            &kp SLASH  &kp SEMICOLON
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LANG2  &kp DEL  &kp BACKSPACE          &kp SPACE  &kp ENTER  &kp LANGUAGE_1  &kp LG(LS(NUMBER_4))  &mkp MB4   &mkp MB5
            >;
        };

        WinMode {
            bindings = <
&kp ESCAPE        &kp Q         &kp W         &kp E      &lt 3 R  &kp T          &mo 4   &kp Y      &lt 3 U    &kp I           &kp O          &kp P      &kp BACKSPACE
&kp TAB           &kp A         &kp S         &kp D      &lt 2 F  &kp G          &Minus  &kp H      &lt 2 J    &kp K           &kp L          &kp MINUS  &kp ENTER
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C      &kp V    &kp B          &Hash   &kp N      &kp M      &kp COMMA       &kp PERIOD     &kp SLASH  &kp SEMICOLON
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &kp LANG2  &kp DEL  &kp BACKSPACE          &kp SPACE  &kp ENTER  &kp LANGUAGE_1  &kp LS(LA(S))  &kp HOME   &kp END
            >;
        };

        Symbols {
            bindings = <
&none   &kp SQT            &Percent  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &Slash  &Asterisk  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none  &none  &none
&none   &kp DOUBLE_QUOTES  &Doller   &kp EXCLAMATION       &Atmark                &Minus  &Plus      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none  &none  &none
&trans  &Pipe              &Caret    &Ampersand            &Tidle                 &Hash   &Equal     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &none  &none
&trans  &trans             &trans    &none                 &none                  &none              &kp NUMBER_0  &kp DOT       &YEN          &none  &none  &none
            >;
        };

        BracketsAndArrows {
            bindings = <
&none  &none  &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &none           &kp UP_ARROW    &none            &none  &none  &none
&none  &none  &none  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &none  &none
&none  &none  &none  &none                 &none                  &none  &none  &none           &none           &none            &none  &none  &none
&none  &none  &none  &none                 &none                  &none         &none           &none           &none            &none  &none  &none
            >;
        };

        BlootoothLayer {
            bindings = <
&Connect0  &Connect1  &Connect2  &Connect3  &Connect4  &none  &none       &none  &none  &none  &none  &none  &none
&none      &none      &none      &none      &none      &none  &bt BT_CLR  &none  &none  &none  &none  &none  &none
&none      &none      &none      &none      &none      &none  &none       &none  &none  &none  &none  &none  &none
&none      &none      &none      &none      &none      &none              &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
